:root {
  --primary: #ffffff;
  --text-primary: #0a0a0a;
  --text-secondary: #4b7869;
}

::selection {
  background: var(--text-secondary);
}

html {
  background-color: var(--primary);
  color: var(--text-primary);
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-weight: normal;
  font-stretch: normal;
  font-size: 21px;
  line-height: 1.5rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  margin: 0;
}

main {
  margin: auto;
  padding: 0 12px;
  max-width: 547px;
}

.links {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.link {
  color: var(--text-primary);
  text-decoration: none;
  font-family: ui-monospace, "Segoe UI Mono", "Roboto Mono", "Oxygen Mono",
    "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono",
    "Courier New", monospace;
}

.link:hover {
  color: var(--text-secondary);
}

.link::selection {
  color: var(--primary);
  background: var(--text-secondary);
}

.logo {
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 18px auto 9px auto;
  user-select: none;
}

.logo__content {
  animation: draw 2s ease-in-out forwards;
  color: var(--text-primary);
  fill: var(--text-primary);
  height: 40px;
  stroke: var(--text-primary);
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  stroke-width: 0;
  width: 40px;
}

.titles {
  padding: 0;
  list-style-type: none;
}

video {
  width: 100%;
}

@keyframes draw {
  0% {
    fill: transparent;
    stroke-width: 4;
  }

  75% {
    fill: transparent;
  }

  85% {
    stroke-width: 3;
  }

  100% {
    fill: var(--text-primary);
    stroke-dashoffset: 0;
  }
}
